{% extends 'dispatcher/dispatcher_base.html' %}
{% block title %} Technicians to Assign jobs {% endblock %}

{% block content %}

  {% for tech in technicians %}

    <p>{{ tech.0.first_name }} {{ tech.0.middle_name }} {{ tech.0.last_name }}</p>
    <p> longitude = {{ tech.0.location_longitude }} </p>
    <p> latitude = {{ tech.0.location_latitude }} </p>
      {% for item in tech.1 %}
        <p> {{ item.date_of_visit }}</p>
        <p> {{ item.longitude }} </p>
        <p> {{ item.latitude }} </p>
      {% endfor %}
    <form action="{% url 'dispatcher_assign_ticket' %}" method="post">
      <div class="form-group">
        {{ form.date_of_visit.label_tag }}
        {{ form.date_of_visit }}
      </div>
      <div class="form-group">
        {{ form.time_of_visit.label_tag }}
        {{ form.time_of_visit }}
      </div>
      <input type="hidden" value="{{ tech.0.pk }}" name="tech_id"/>
      <input type="submit" value="Assign" />
      {% csrf_token %}
    </form>
  {% endfor %}

{% endblock %}
