{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title> {% block title %} {% endblock %}</title>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

<!-- Optional theme -->
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">

{% block styles %}
{% endblock %}

{% block scripts %}
  <script src="{% static 'jquery.js' %}"></script>
{% endblock %}
</head>

<body>
  <header>{% block header %}{% endblock %}</header>
  <div class = "container-fluid">
    {% block content %}{% endblock %}
  </div>
  <footer>{% block footer %}{% endblock %}</footer>
</body>
</html>
