<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title> {% block title %} {% endblock %}</title>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
<style>
  .map_canvas {
    width: 600px;
    height: 400px;
    margin: 10px 20px 10px 0;
  }
</style>
</head>
<body>
  <header>{% block header %}{% endblock %}</header>
  <div class = "container-fluid">
    {% block content %}{% endblock %}
  </div>
  <footer>{% block footer %}{% endblock %}</footer>
</body>
</html>
