{% extends "customerservice/customerservice_base.html" %}


{% block title %} Customer Service {% endblock %}


{% block header %}

  <p> {{ username }} </p>
  <a href = "{% url  'customer_service_logout' %}" >Logout </a>

{% endblock %}

{% block content %}

  <form action = "{% url 'customer_service_search_by_name' %}" method = "post">
    <div class="form-group">
      {{ name_form.first_name.label_tag }}
      {{ name_form.first_name }}
    </div>
    <div class="form-group">
      {{ name_form.middle_name.label_tag }}
      {{ name_form.middle_name }}
    </div>
    <div class="form-group">
      {{ name_form.last_name.label_tag }}
      {{ name_form.last_name }}
    </div>
    <input type = "submit" value = "Search" />
    {% csrf_token %}
  </form>

  <form action = "{% url 'customer_service_search_by_phone' %}" method = "post">
    <div class="form-group">
      {{ phone_form.phone.label_tag }}
      {{ phone_form.phone }}
    </div>
    <input type = "submit" value = "Search" />
    {% csrf_token %}
  </form>

  <a href="{% url 'customer_service_add_customer' %}"><button name = "add_customer" > Add Customer </button></a>

{% endblock %}
