{% extends 'customerservice/customerservice_base.html' %}

{% block title %}

  Customers

{% endblock %}

{% block content %}

  {% for cust_dev in customer_device %}
    <div class="row">
      <div class="col-lg-8">
        <p> {{ cust_dev.0.first_name }} </p>
        <p> {{ cust_dev.0.last_name }} </p>
      </div>
      <div class="col-lg-4">
        {% for device in cust_dev.1 %}
          <p> {{ device.model_name }} </p>
          <p> {{ device.serial_number }} </p>
        {% endfor %}
        <button> Add Device </button>
      </div>
    </div>
  {% endfor %}

{% endblock %}
